# Archivos auxiliares de compilación de LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml

# Archivos del sistema operativo y editores
.DS_Store
Thumbs.db
*.swp
*.swo
